@import url(https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif+TC&amp;display=swap);

.row {
    margin: unset;
}
  
@font-face {
    font-family: '辰宇落雁';
    src: local('ChenYuluoyan-Thin-Monospaced'),
      url(/fonts/ChenYuluoyan-Thin-Monospaced.woff) format("woff"),
      url(/fonts/ChenYuluoyan-Thin-Monospaced.ttf) format("truetype")
}

@font-face {
    font-family: 'SetoFont';
    src: local('SetoFont'),
    url(/fonts/SetoFont.woff) format("woff"),
    url(/fonts/SetoFont.ttf) format("truetype")
}

body {
  font-family: 'SetoFont', 'Noto Serif TC', sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url(http://www.nemomofan.com/images/bg.png);
}
  
#bg-opacity {
  background-color: #ffffffa0;
  min-height: 100vh;
}
  
#out-tab {
  background-color: bisque;
  position: relative;
  padding: 3px 1vw;
}
  
#broad {
  padding: 50px;
  margin: 10px;
  background-color: #ff8e8ea0;
  border-radius: 5rem;
  font-size: 36px;
  text-align: center;
}